<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <img id="error-img" src="./img/404.png" />
    <div class="description">
      <h1>La página solicitada no existe</h1>
      <p>
        Introduzca una dirección correcta o vuelva a través de la barra de
        navegación
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
