<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>Quiénes somos</h1>
      <p>
        En Despliegue al Descubierto (DAD) analizamos los problemas relacionados
        con la infraestructura y despliegue de su aplicación. Detrás se
        encuentra un equipo de alumnos recién graduados en el Ciclo de
        Desarrollo de Aplicaciones Web y especializado en los últimos frameworks
        de despliegue de apps con Javascript, tales como Node.js, Next.js o
        Remix.js.
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
