<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>Angular</h1>
      <p>
        Esta documentación de Angular te ayuda a aprender y usar el framework y
        la plataforma de desarrollo, desde tu primera aplicación hasta la
        optimización de aplicaciones complejas de una sola página, para
        empresas. Los tutoriales y guías incluyen ejemplos descargables para
        acelerar tus proyectos.
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
