<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>Contacto</h1>
      <p>Correo electrónico: enrique.garsae@educa.jcyl.es</p>
      <p>Teléfono: xxx-xxx-xxx</p>
      <p>Dirección: Calle ----, 1, 4B Valladolid 47005</p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
