<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>Sobre Enrique</h1>
      <p>
        Enrique García es economista y estudiante del Ciclo Superior de
        Aplicaciones Web en el IES Ribera de Castilla. Sus principales intereses
        son las herramientas relacionadas con el despliegue de aplicaciones en
        el lado cliente, con especial interés en los nuevos frameworks que
        agilizan y permiten numerosas posibilidades como React.js, Next.js o
        Vue.js.
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
