<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <h1>Entorno de ejecución actual: <%=modo %> </h1>
  <div class="content">
    <img id="devops-img" src="./img/devops2.png" />
    <div class="description">
      <h1>Bienvenida</h1>
      <p>
        Bienvenido a Despliegue al Descubierto. Aquí encontrará numerosos
        información sobre los servicios que ofrecemos, así como recursos
        divulgativos de forma abierta.
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
