<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>React</h1>
      <p>
        React te ayuda a crear interfaces de usuario interactivas de forma
        sencilla. Diseña vistas simples para cada estado en tu aplicación, y
        React se encargará de actualizar y renderizar de manera eficiente los
        componentes correctos cuando los datos cambien.
      </p>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
