<%-include('templates/head') %> <%-include('templates/nav'); %>

<main>
  <div class="content">
    <div class="description">
      <h1>Servicios</h1>
      <ul>
        <li>Análisis de rendimiento de aplicaciones en Node.js</li>

        <li>Desarrollo de nuevas aplicaciones basadas en Next.js</li>

        <li>Formación sobre el nuevo Framework Remix.js (nuevo)</li>

        <li>
          Soluciones de State Management para librerías de componentes Web:
        </li>
      </ul>
      <p>
        Seleccione el framework sobre el que está interesado y consulte nuestra
        información
      </p>
      <ul>
        <li><a href="/framework?name=react">React.js</a></li>
        <li><a href="/framework?name=vue">Vue.js</a></li>
        <li><a href="/framework?name=angular">Angular.js</a></li>
      </ul>
    </div>
  </div>
</main>

<%- include('templates/foot'); %>
